* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Epilogue', sans-serif;
  background-color: #FAFAFA;
  color: #5D5D5D;
  font-weight: 600;
}

.material-symbols-outlined {
  color: #5D5D5D;
}