.menu {
  grid-column: 3 / 5;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: #FB5;
}

.menu-options {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
  margin-right: 10px;
  color: #222;
  text-decoration: none;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: .1em;
}

.menu li #AbrirLogin {
  display: block;
  padding: 10px;
  margin-right: 10px;
  color: #222;
  text-decoration: none;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: .1em;
  border: none;
  background: transparent;
}

.arrow-black {
  background: url(../img/arrow-black.svg) no-repeat center center;
  display: inline-block;
  width: 8px;
  height: 10px;
}

@keyframes show-up {
  from {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

#dropdown:hover #dropdown-menu {
  display: block;
  animation: show-up .3s forwards;
}

#dropdown-menu {
  display: none;
  position: absolute;
  background: #E54;
  border: 2px solid #333;
  z-index: 200;
  padding: 10px;
}

#dropdown-menu li {
  display: block;
  color: #222;
  text-decoration: none;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: .1em;
}

#dropdown-menu::before {
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #E54;
}

#dropdown-menu li a:hover {
  color: white;
}


.button-menu {
  display: none;
}

@media(max-width: 700px) {
  .menu {
    width: 100%;
    position: fixed;
    grid-column: 1 / 5;
    z-index: 100;
    margin-top: 0;
  }

  .button-menu {
    display: flex;
    background: #222;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    align-items: center;
    position: relative;
    z-index: 2;
  }

  @keyframes show-right {
    0% {
      opacity: 0;
      transform: translate3d(-30px, 0, 0);
    }

    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-options {
    display: none;
  }

  .menu-options.active {
    animation: show-right .3s forwards;
    display: block;
    position: absolute;
    background: #FB5;
    width: 160px;
    top: 0;
    padding: 60px 0 20px 0;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .2);
    z-index: 1;
  }

  #dropdown-menu {
    position: static;
    border: none;
    display: block;
    animation: show-up .3s forwards;
  }

}

@keyframes openlogin {
  0% {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.LoginModal {
  background: white;
  width: 80vw;
  max-width: 600px;
  padding: 40px;
  border: 10px solid #FB5;
  box-shadow: 0 0 0 10px white;
  position: absolute;
  box-sizing: border-box;
  animation: openlogin .3s forwards;
}

.CloseLogin {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid white;
  top: -30px;
  right: -30px;
  position: absolute;
  background: #E54 url(../img/fehcar.svg) no-repeat center center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .3);
  cursor: pointer;
}

.LoginModal label {
  font-family: 'IBM Plex Mono', monospace;
  display: block;
  font-weight: bold;
  margin: 1rem 0 0.5rem 0;
}

.LoginModal input {
  width: 100%;
  padding: 0.7rem 0.5rem;
  box-sizing: border-box;
  border: 2px solid #222;
  border-radius: 0px;
}

.LoginModal form button {
  display: block;
  background: #E54;
  border: none;
  border-radius: 4px;
  padding: 0.7rem 2rem;
  font-size: 1rem;
  color: white;
  font-family: 'IBM Plex Mono', monospace;
  margin-top: 1rem;
  font-weight: bold;
}

.LoginModal-Container {
  align-items: center;
  justify-content: center;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  z-index: 3;
}

.LoginModal-Container.open {
  display: flex;
  position: fixed;
  z-index: 101;
}